<table border="0" cellpadding="0" cellspacing="0">
    <tbody><tr>
        <td style="font-size: 0; line-height: 0;" width="20"> </td>
        <td>
            <br>
            <h3 style="font-weight: bold">Ce message est valide jusqu'au {{ date | date('d-m-Y') }}</h3>
            <br>
            <br>
            {{ message }}
            <br>
        </td>
    </tr>
    </tbody>
</table>

