{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1 align="center" style="margin-top: 200px">Page en construction </h1>
        <h4 align="center">Cette page sera disponible dans les plus brefs delais </h4>
        <div align="center">
            <a href="{{ path('fos_user_security_login') }}">Connexion</a>
        </div>
    </div>
{% endblock %}
